.clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients__title {
    margin-bottom: 50px;
  }
  .clients__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .clients__icon {
    fill: var(--icon-filler);
  }
   
  .clients__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    left: 215px;
    top: 2493px;
    border: 1px solid var(--icon-filler);
    box-sizing: border-box;
    border-radius: 4px;
    transition: box-shadow 250ms var(--animation-timing-function), border-color 250ms var(--animation-timing-function), fill 250ms var(--animation-timing-function);
    
    &:hover {
      border-color: var(--accent-color);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &:focus {
      border-color: var(--accent-color);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &:focus .clients__icon  {
     fill:var(--accent-color);
     
    }
    &:hover .clients__icon  {
      fill:var(--accent-color);
         }
  
  }
  
 